<!Doctype html>
<html>
<head>
	<title>Contact Jon Rogers</title>
	<meta charset="utf-8">
</head>
<div class="jumbotron">
<body>

<h2>Contact Info:</h2>
 <p><strong>Email</strong>: <a href="mailto:jrogers07@gmail.com"> jrogers07@gmail.com</a></p>
 <p><strong>Phone</strong>: <a href="tel:+17753018031"> (775) 301-8031 </a></p>
 <p><strong>Twitter</strong>: <a href="https://twitter.com/jonrogers2014"> jonrogers2014</a> </p>
 <p><strong>Github</strong>: <a href="https://github.com/jrogers0331">jrogers0331</a>
 <p><strong>Linkedin</strong>: <a href="https://www.linkedin.com/pub/jonathan-rogers/40/6ab/249"> My Linkedin</a></p>
 <p><strong>My Blog</strong>: <a href="http://jonathanrogers2014.blogspot.com/">jonathanrogers2014.blogspot.com</a></p>

</body>
</div>
</html>