<!Doctype html>
<html>
<head>
	<title>Jon Rogers Home Page</title>
	<meta charset="utf-8">
</head>
<div class="jumbotron center">
  <body>
	<h1>Welcome</h1>

	<p> My name is Jon Rogers and I started learning to code on April 1, 2014. I decided I needed to make a career switch from being a ready mix concrete truck driver to web developer. I have always had a huge passion for learning new and exciting things and so far, learning to program has been one of the most challenging yet rewarding things I have taken on. I started a blog when I began my learning to code journey to track my progress and story. You can check my blog out at <a href="http://jonathanrogers2014.blogspot.com/">jonathanrogers2014.blogspot.com</a></p>

	<p> I currently reside in Colorado Springs with my loving wife Tanya who I married on July 30, 2014 and daughter Gemma. We moved here this last January from Lake Tahoe, California and are enjoying what Colorado has to offer. We love exploring the outdoors, going camping, fishing, long hikes, mountain lakes, the ocean and pretty much anything else outdoorsy and fun! I love to spend time with my family and we all love going on interesting trips. One of our favorite places to visit would be Monterey, CA. The aquarium there is so awesome and the entire area is just absolutely amazing!</p>

	<p>I really enjoy meeting other people within the Ruby on Rails community and I attend as many meetups as I can in Boulder, Denver and Colorado Springs. I have also been going to JavaScript meetups here in Colorado Springs. I really feel that it is important to have a good grasp on both JavaScript and Ruby. I really enjoy Ruby but have also realized the potential that JavaScript has. My goal is to be versatile knowing front end and back end and also being able to choose between node.js and rails. I have no problem seeking out opportunities in California as well if it means an internship or apprenticeship or a jr. developer position. I am always looking forward to learning something new and would be happy with working front end or back end if I can just continue to always learn and finally make a much needed career switch. I love working in team environments where I feel like I can be making a contribution.</p>

  </body>
</div>

</html>

