<!Doctype html>
<html>
<head>
	<title>Jon Rogers Home Page</title>
	<meta charset="utf-8">
</head>
<div class="jumbotron center">
  <body>
	<h1>Welcome</h1>

	<p> My name is Jon Rogers, I'm 28 years old and just starting out with Web Development. I have always had a huge passion for learning new and exciting things and so far, learning to program has been one of the most challenging yet rewarding things I have taken on.</p>

	<p> I just moved to Colorado Springs with my loving girlfriend and daughter in order to be closer to family. We moved here this last January from Lake Tahoe, California and are really enjoying beautiful Colorado. I enjoy exploring the outdoors, going camping, fishing, long hikes, mountain lakes, the ocean and pretty much anything else outdoorsy and fun! I love to spend time with my family and we all love going on interesting trips. One of our favorite places to visit would be Monterey, CA. The aquarium there is absolutely amazing!</p>

	<p>As of right now I am really interested in meeting other people within the Ruby on Rails community and I will be attending local meetups in the Boulder, Denver and Colorado Springs areas.</p>

  </body>
</div>

</html>

