<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>My Resources</title>
</head>
<body>
	<p>This is just a list of the different resources that I have used and will be putting to use while learning all of this on my own. I do hope that this list will help others who are looking for some good resources in getting started.</p>
		
	<p>I will update this list periodically as I continue my progress.  </p>

<h2> Programming Books</h2>
<ul>
<li><a href="http://www.learningwebdesign.com/"> Learning Web Design (4th Edition) by Jennifer Niederst Robbins</a></li>
<li><a href="http://www.htmlandcssbook.com/"> HTML and CSS: Design and Build Websites by Jon Duckett</a></li>
<li><a href="http://pragprog.com/book/ltp2/learn-to-program"> Learn to Program (2nd Edition) by Chris Pine</a></li>
<li><a href="http://peterc.org/beginningruby/"> Beginning Ruby: From Novice to Professional by Peter Cooper</a></li>
<li><a href="http://ruby.learncodethehardway.org/"> Learn Ruby the Hard Way by Zed Shaw</a></li>
<li><a href="http://cli.learncodethehardway.org/book/"> Command Line Crash Course by Zed Shaw</a></li>
<li><a href="https://www.goodreads.com/book/show/18167211-learning-web-app-development?from_search=true"> Learning Webb App Development by Semmy Purewal</a></li>
<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"> Ruby on Rails Tutorial: Learn Web Development with Rails by Michael Hartl</a></li>
<li><a href="https://www.goodreads.com/book/show/18871247-ruby-on-rails-4-0-guide"> Ruby on Rails 4.0 Guide: A step by step guide to learn Ruby on Rails 4.0 and Ruby 2.0 by Stefan Wintermeyer</a></li>
<li><a href="http://pragprog.com/book/jvrails2/crafting-rails-4-applications"> Crafting Rails 4 Applications: Expert Practices for Everyday Rail Development (The Facets of Ruby) by Jose Valim</a></li>
<li><a href="http://www.asmarterwaytolearn.com/"> A Smarter Way to Learn JavaScript: The new approach that uses technology to cut your effort in half by Mark Meyers</a></li>
<li><a href="http://it-ebooks.info/book/1759/"> Git: Version Control for Everyone by Ravishankar Samasundaram</a></li>
<li><a href="http://www.informit.com/library/library.aspx?b=STY_Sql_24hours"> Sams Teach Yourself SQL in 24 hours (5th Edition) by Ron Plew and Ryan Stephens</a></li>
<li><a href="http://www.goodreads.com/book/show/3381863-building-social-web-applications"> Building Social Web Applications: Establishing Community at the Heart of Your Site by Gavin Bell</a></li>
</ul>


 <h2>Online Courses</h2>

<ul>
<li><a href="http://online.pragmaticstudio.com/courses/ruby"> Ruby Course from The Pragmatic Studio</a></li>
<li><a href="https://onemonth.com/"> One Month Rails</a></li>
<li><a href="https://www.udacity.com/courses#!/All"> Udacity - Intro to Computer Science</a></li>
<li><a href="http://www.codecademy.com/"> Code Academy</a></li>
<li><a href="http://www.lynda.com/"> Lynda</a></li>
<li><a href="https://www.codeschool.com/"> Code School</a></li>
<li><a href="http://teamtreehouse.com/"> Tree House</a></li>
</ul>

<h2> Good Articles</h2>
<ul>
<li><a href="http://designwebkit.com/inspiration/40-websites-built-with-ruby-on-rails/?utm_content=buffer43131&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 40 Famous Websites Built with Ruby on Rails by Ann Davlin</a></li>
<li><a href="http://www.inc.com/magazine/201405/jason-fried/hiring-based-on-effort-not-resumes.html"> The One Trait That Guarantees a Good Hire by Jason Fried</a></li>
<li><a href="http://bluesky.chicagotribune.com/hub/chi-inc-skills-gap-bsi-hub,0,0.htmlstory"> Is there really a skills gap? by Cait Murphy</a></li>
<li><a href="https://www.psychologicalscience.org/index.php/publications/observer/2013/april-13/true-grit.html"> True Grit by Angela Lee Duckworth and Lauren Eskreis-Winkler</a></li>
<li><a href="http://time.com/12670/8-things-the-worlds-most-successful-people-all-have-in-common/?utm_content=buffer8184d&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 8 Things The World’s Most Successful People All Have in Common by Eric Barker</a></li>
</ul>

<h2> Motivational Books</h2>
<ul>
 <li><a href="http://www.goodreads.com/book/show/115613.Maximum_Achievement"> Maximum Achievement by Brian Tracy</a></li>
 <li><a href="http://www.goodreads.com/book/show/1005.Think_and_Grow_Rich?from_search=true"> Think and Grow Rich by Napoleon Hill</a></li>
 <li><a href="http://www.goodreads.com/book/show/998.The_Millionaire_Next_Door"> The Millionaire Next Door by Thomas J. Stanley and William D. Danko</a></li>
 <li><a href="http://www.goodreads.com/book/show/78427.The_Total_Money_Makeover?from_search=true"> The Total Money Makeover: A Proven Plan for Financial Fitness by Dave Ramsey</a></li>
 <li><a href="http://www.goodreads.com/book/show/69571.Rich_Dad_Poor_Dad?from_search=true"> Rich Dad, Poor Dad by Robert T. Kiyosaki</a></li>
</ul>

</body>
</html>


